[Unit]
Description=OCI-Instances
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/OCI-Instances
ExecStart=/usr/local/OCI-Instances/OCI-Instances-arm
StandardOutput=append:/usr/local/OCI-Instances/log_oci-Instances.log
StandardError=append:/usr/local/OCI-Instances/log_oci-Instances.log
Restart=always

[Install]
WantedBy=multi-user.target
